run = "npm run dev"
modules = ["nodejs-20", "web", "nix"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 46063867
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --port 5000 --hostname 0.0.0.0"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80
